# registry=https://registry.npmjs.org/
# registry=https://registry.npm.taobao.org/
# registry=http://verdaccio:4873/
registry=http://127.0.0.1:4873/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs
package-lock=true
progress=false
