<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Cat.Yang">
    <title>Blog template · <%= name %></title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/base.css" rel="stylesheet">

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/js-cookie/src/js.cookie.js"></script>
    <script src="/lodash/lodash.min.js"></script>

    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/moment/min/moment.min.js"></script>

    <link href="/stylesheets/<%= name %>.css" rel="stylesheet">
</head>
